<ul class="list-group list-group-horizontal rounded-0 my-ul">
    <li
      class="list-group-item d-flex align-items-center ps-0 pe-3 py-1 rounded-0 border-0 bg-transparent">
      <div class="form-check">
        <input class="form-check-input me-0" type="checkbox" value="" id="flexCheckChecked2"
          aria-label="..." />
      </div>
    </li>
    <li
      class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">
      <p class="lead fw-normal mb-0">{{todoItemName}}</p>
    </li>
    <div>
        <button (click)="delete(index)" type="button" class="btn btn-danger">Delete</button>
      </div>
    
  </ul>